In [21]:
import pandas as pd

In [30]:
#importo todos los archivos y hago una lista de dataframes

main=[]
for i in range(1,56):
    main.append(pd.read_csv("C:/Users/54357/Desktop/CONTACTS/cont ("+str(i)+").csv",index_col=False))

In [32]:
#agarro los nombres de las columnas de cada df y los pongo en una lista de listas

main_col=[]

for df in main:
    main_col.append(df.columns.to_list())

In [33]:
#creo una lista que va a contener todos los nombres de las columnas que existan (se inicia con los nombre de las col del primer df

all_col=main_col[0]

In [34]:
#completo mi lista de todas las columnas con las columnas que aparezcan en los otros df

for lista in main_col:
    for item in lista:
        if item not in all_col:
            all_col.append(item)
            
#ahora mi all_col está completo con todas los nombres que existan de columnas

In [35]:
len(all_col)

70

In [36]:
#acá agrego una columna vacia con el nombre de la columna faltante a cada DATAFRAME SI CORRESPONDE

for i in range(len(main_col)):
    for col in all_col:
        if col not in main_col[i]:
            main[i][col]=pd.Series("")
            
#a esta altura ya todos mis df tienen la misma cantidad de columans con los mismos nombres

In [38]:
#por si el primer DF no se actualiza

prim_col=main[0].columns.to_list()

for col in all_col:
    if col not in prim_col:
        print(col)
        main[0][col]=pd.Series("")

In [39]:
# para confirmar que cada df tiene la misma cantidad de columnas

for i in range(55):
    print(len(main[i].columns))

70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70

sigue confirmar que todas los df tengan las misma columnas  (ya tienen el mismo tamaño)

In [40]:
# para confirmar que todos los df tengan las mismas columnas (en cuanto a nombre)
main_col=[]

for df in main:
    main_col.append(df.columns.to_list())

In [41]:
ok=0
for i in range(len(main_col)):
    for item in main_col[i]:
        for j in range(i+1,len(main_col)):
            if item in main_col[j]:
                ok+=1
            else:
                print(f'{item:<30} no está en la lista: {j}')

ok #103905 es lo que me dió la priemra vez

103950

Todas los df tienen las mismas columnas, ahora hay que ordenarlas

In [70]:
#creo una copia de la lsita de DFS

MAIN=main.copy()

In [71]:
#Edito los df de la copia con las columnas del df siempre en el mismo orden

for i in range(len(MAIN)):
    MAIN[i]=main[i][all_col]

In [77]:
#comparar que todos los df tengan las columnas ene l mismo orden
for i in range(len(MAIN[0].columns)):
    for df in MAIN:
        if MAIN[0].columns[i]!=df.columns[i]:
            print(df.columns[i])
            
            
#todo OK

Ahora a cada df le tenemos que agregar una columna con el nombre de la cuenta que corresponde

In [87]:
cuent="Aixa Landron Fatherson Realty Inc.,Alex Cordova,Art Mendoza Realtor,Belén Alcaraz Team,Blanca Cativo,Brett Baird - H&T Properties,Burnes International,Campos International Group - Maryland,Cardinal Financial Company,Casa Soñada KC,Century 21 Masters,Claudia White e Yvette Garay,Compra Casas en Tampa,David Torres,Derly Alvarez,Epifanio Almodovar The Federal Savings Bank,Francisco J. Cuza Mortgage Advisor,Gladis Madrid, Realtor,Grace Meza - Caddell,Gustavo Lopez,H&T Properties,Iowa Compra y Venta de Casas,Jennifer Toledo,Jenny Clement - Century 21 Visionary Group ,Jesus Century 21 Powerhouse Realty,Juan Celedon Real Estate,Juliana Espinosa with Realty ONE Group,Karla Rodriguez Realtor,Keller Williams Preferred Realty,Lady Martinez,Lake Michigan Realty Management,Leslie Garcia,Lise Real Estate,Mariela Martinez,Martha Turner Sotheby's International Realty,Miguel Hawkins Prestamista con Homestar,Miguel Perez Realtor,Milton Arroyo,Owner Financing Houston,PrimeTime Realtors,RAD Real Estate,RazrGroup,RE/MAX ONE PALMDALE,Ricardo Ruiz - GK Properties,Rivera Realty,Ruben Marron Broker,Ruben Regalado Care Real Estate,Ruth - Campos International Group,Stephanie Barreto,Sueños Unidos,The Alma Lind Team,Ulices Melendez con Alliance Real Estate,United Freedom Realty,Valeria Silva Realtor"

cuentas=cuent.split(",")

In [152]:
serie = pd.Series(cuentas[0],range(len(MAIN[0])))

In [153]:
#a cada DF le agrego una columna con el nombre de la cuenta al cual pertenecen

for i in range(len(MAIN)):
    serie = pd.Series(cuentas[i],range(len(MAIN[i])))
                    
    MAIN[i]["SubAccount"]=serie

C:\Users\54357\AppData\Local\Temp/ipykernel_13444/172704881.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MAIN[i]["SubAccount"]=serie

In [177]:
#Acá concateno todos los DF y obtengo uno solo con toooooodos los contacts

FullData=pd.concat(MAIN)

In [178]:
FullData.shape

(34669, 71)

In [184]:
FullData.to_csv("FullDataframe.csv")