In [13]:
import pandas as pd
import numpy as np

In [14]:
dataframe=pd.read_csv("FullDataFrame.csv")

C:\Users\54357\AppData\Local\Temp\ipykernel_7676\1951171729.py:1: DtypeWarning: Columns (23,62,64,66) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe=pd.read_csv("FullDataFrame.csv")

In [15]:
dataframe.shape

(34669, 72)

In [16]:
dataframe.columns

Index(['Unnamed: 0', 'Contact Id', 'First Name', 'Last Name', 'Business Name',
       'Company Name', 'DND', 'Phone', 'Email', 'Created', 'Source', 'Type',
       'Updated', 'Last Activity', 'Last Appointment', 'Assigned',
       'Opportunity', 'Tags', 'Address (full)', 'Street address', 'City',
       'Postal Code', 'State', 'Birth Date', 'Offers', 'Workflows Active',
       'Products', 'Workflows Finished', 'Last pipe', 'Conversion from',
       'Date of Conversion', 'Time of Conversion', 'Conversion Type',
       'Country', 'Qualifying Question 8', 'Qualifying Question 6',
       'Event Type', 'Gender1', 'Qualifying Question 1',
       'Qualifying Question 5', 'Agent', 'Area', 'Requested Appointment Times',
       'State.1', 'Qualifying Question 3', 'Qualifying Question 9',
       'Qualifying Question 4', 'Conversion Event', 'SMS Sent', 'Industry',
       'Lead Offer', 'Additional Information', 'Timezone', 'Email Sent',
       'Call Attempts', 'Num of QQs', 'Qualifying Question 7',
       'Qualifying Question 2', 'Day Of Week', 'Aux for Power Dialer', 'Ad',
       'Last Note', 'Status Of Live Transfer', 'Status of Conversion',
       'Status of a Live Transfer', 'Type of conversion', 'Last Pipe',
       'Qualifying Questions 6', 'Conversion Event Type',
       'Qualifying Questions 7', 'Gender2', 'SubAccount'],
      dtype='object')

In [17]:
#armamos un listado de las columnas que no nos sirven
bad_col=["Unnamed: 0","Business Name","Company Name","DND","Assigned","Address (full)",'Street address', 'City','Postal Code','Birth Date','Offers','Products',"Country","Industry","Lead Offer","Aux for Power Dialer"]

In [18]:
#dropeamos las columnas segun la lista que armammos

dataframe_dropped=dataframe.drop(columns=bad_col)

In [19]:
dataframe_dropped.columns

Index(['Contact Id', 'First Name', 'Last Name', 'Phone', 'Email', 'Created',
       'Source', 'Type', 'Updated', 'Last Activity', 'Last Appointment',
       'Opportunity', 'Tags', 'State', 'Workflows Active',
       'Workflows Finished', 'Last pipe', 'Conversion from',
       'Date of Conversion', 'Time of Conversion', 'Conversion Type',
       'Qualifying Question 8', 'Qualifying Question 6', 'Event Type',
       'Gender1', 'Qualifying Question 1', 'Qualifying Question 5', 'Agent',
       'Area', 'Requested Appointment Times', 'State.1',
       'Qualifying Question 3', 'Qualifying Question 9',
       'Qualifying Question 4', 'Conversion Event', 'SMS Sent',
       'Additional Information', 'Timezone', 'Email Sent', 'Call Attempts',
       'Num of QQs', 'Qualifying Question 7', 'Qualifying Question 2',
       'Day Of Week', 'Ad', 'Last Note', 'Status Of Live Transfer',
       'Status of Conversion', 'Status of a Live Transfer',
       'Type of conversion', 'Last Pipe', 'Qualifying Questions 6',
       'Conversion Event Type', 'Qualifying Questions 7', 'Gender2',
       'SubAccount'],
      dtype='object')

In [20]:
#Armemos un subdataframe con los IDS, Ad, Day of week
df1=dataframe_dropped[["Contact Id","Ad","Day Of Week","Created","SubAccount"]]

In [21]:
df1

,Contact Id,Ad,Day Of Week,Created,SubAccount
0,nArxoCXglF8lOnKkoSw6,23851920354810131 - Image 3,NaN,2023-02-27T17:03:47-05:00,??x? L?ndr?n F?th?rs?n R??lty ?nc.
1,SfLXHxkO71Iq1Jdc6aNq,23851920354810131 - Image 3,NaN,2023-02-27T16:57:30-05:00,??x? L?ndr?n F?th?rs?n R??lty ?nc.
2,DMGExUPr4u4rmpCG7kNA,23851920354810131 - Image 4,NaN,2023-02-27T16:44:45-05:00,??x? L?ndr?n F?th?rs?n R??lty ?nc.
3,4xASg3FOpIiIl0k4CqV5,23851920354810131 - Image 3,NaN,2023-02-27T13:23:32-05:00,??x? L?ndr?n F?th?rs?n R??lty ?nc.
4,lguItn7qhV178WQ5RZ4H,23851920354810131 - Image 4,NaN,2023-02-27T13:07:33-05:00,??x? L?ndr?n F?th?rs?n R??lty ?nc.
...,...,...,...,...,...
34664,kV1QWQ0uRw6pf6hihntr,-,NaN,2022-12-02T12:36:07-05:00,V?l?r?? S?lv? R??lt?r
34665,e5N0mVjuS2nI2zKyp4Ke,23852348700300789 - Image 3,NaN,2022-12-02T11:56:04-05:00,V?l?r?? S?lv? R??lt?r
34666,uf9U9wSHmQNvt59yaEMP,23852348700300789 - Image 3,NaN,2022-12-02T10:27:56-05:00,V?l?r?? S?lv? R??lt?r
34667,oYxRNv41uAfZBaAY3ZlU,-,NaN,2022-11-30T15:13:34-05:00,V?l?r?? S?lv? R??lt?r
34668,J95OQm5LgaExVpqMYAjL,-,NaN,2022-11-30T15:12:29-05:00,V?l?r?? S?lv? R??lt?r

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34669 entries, 0 to 34668
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Contact Id   34669 non-null  object
 1   Ad           34027 non-null  object
 2   Day Of Week  5444 non-null   object
 3   Created      34669 non-null  object
 4   SubAccount   34669 non-null  object
dtypes: object(5)
memory usage: 1.3+ MB

In [23]:
df1=df1.where(df1!=" - ")

In [24]:
df1=df1.dropna()

In [25]:
df1

,Contact Id,Ad,Day Of Week,Created,SubAccount
36,GfIb7uDhR0FBUseDT3vl,23851920354810131 - Image 3,Sunday,2023-02-19T20:22:34-05:00,??x? L?ndr?n F?th?rs?n R??lty ?nc.
44,iENBBbJtAJKWC10Xh8Zj,23851920354810131 - Image 4,Sunday,2023-02-18T20:58:19-05:00,??x? L?ndr?n F?th?rs?n R??lty ?nc.
132,Htd6IvZzfaAmWaTxrgGe,23851920354810131 - Image 4,Wednesday,2023-02-05T10:56:18-05:00,??x? L?ndr?n F?th?rs?n R??lty ?nc.
142,3paGVTpDIfsltMtYlaLr,23851920354810131 - Image 2,Wednesday,2023-02-03T07:29:20-05:00,??x? L?ndr?n F?th?rs?n R??lty ?nc.
146,cJMed4p3PJk3GX83oZrU,23851920354810131 - Image 2,Wednesday,2023-02-02T10:56:00-05:00,??x? L?ndr?n F?th?rs?n R??lty ?nc.
...,...,...,...,...,...
34637,QcvxbVPmBHsFk3keTP8Y,23852348700300789 - Image 2,Saturday,2022-12-03T09:23:45-05:00,V?l?r?? S?lv? R??lt?r
34652,Hk0iR923FggWdxsRNkap,23852348700300789 - Image 3,Saturday,2022-12-02T18:47:25-05:00,V?l?r?? S?lv? R??lt?r
34656,zob9C3A4b5AOqjXrWx6p,23852348700300789 - Image 2,Friday,2022-12-02T17:35:17-05:00,V?l?r?? S?lv? R??lt?r
34657,xzqnbmQVohzhZFtKsS9v,23852348700300789 - Image 3,Saturday,2022-12-02T16:58:30-05:00,V?l?r?? S?lv? R??lt?r
34660,0969i3dAkCozanMQKENt,23852348700300789 - Image 2,Friday,2022-12-02T15:05:14-05:00,V?l?r?? S?lv? R??lt?r

In [26]:
resume = pd.pivot_table(df1,index=["SubAccount","Ad"],values="Contact Id",aggfunc=np.count_nonzero)

In [27]:
resume.head(20)

                                                                      Contact Id
SubAccount                               Ad
??w? C?mpr? y V?nt? d? C?s?s             -                                    32
                                         23848602840980131 - Image 1         136
                                         23848602840980131 - Image 2          18
                                         23848602840980131 - Image 3           6
                                         23848602840980131 - Image 4          49
                                         23851149622980131 - Image 1          13
                                         23851149622980131 - Image 2          12
                                         23851149622980131 - Image 3          31
                                         23851149622980131 - Image 4          25
??x? L?ndr?n F?th?rs?n R??lty ?nc.       -                                     5
                                         23849781343700220 - Image 1          21
                                         23849781343700220 - Image 2          15
                                         23849781343700220 - Image 3           1
                                         23849781343700220 - Image 4           6
                                         23851920354810131 - Image 1           7
                                         23851920354810131 - Image 2           6
                                         23851920354810131 - Image 3           3
                                         23851920354810131 - Image 4          42
?l?c?s M?l?nd?z c?n ?ll??nc? R??l ?st?t? -                                     4
                                         23852648720500729 - Image 2           6

In [28]:
cxd=np.unique(df1["Ad"],return_counts=True)

In [29]:
len(cxd[1])

296

In [30]:
ConXAd=pd.DataFrame(cxd)

In [31]:
ConXAd=ConXAd.T

In [32]:
ConXAd=ConXAd.rename(columns={0:"Ad",1:"Conversions"})
ConXAd

                              Ad Conversions
0                              -         274
1    23846502269490235 - Image 1          14
2    23846502269490235 - Image 2          16
3    23846502269490235 - Image 3           9
4    23846502269490235 - Image 4          13
..                           ...         ...
291  23853453460240708 - Image 3           1
292  23854339548530734 - Image 1           1
293  23854339548530734 - Image 2           1
294  23854393358630734 - Image 1           8
295  23854393358630734 - Image 3           2

[296 rows x 2 columns]

In [33]:
np.sum(ConXAd["Conversions"])

5433

In [34]:
#necesito un DF que solo tenga al Ad con su respectiva cuenta
df2=df1[["Ad","SubAccount"]]

In [35]:
df2

                                Ad                          SubAccount
36     23851920354810131 - Image 3  ??x? L?ndr?n F?th?rs?n R??lty ?nc.
44     23851920354810131 - Image 4  ??x? L?ndr?n F?th?rs?n R??lty ?nc.
132    23851920354810131 - Image 4  ??x? L?ndr?n F?th?rs?n R??lty ?nc.
142    23851920354810131 - Image 2  ??x? L?ndr?n F?th?rs?n R??lty ?nc.
146    23851920354810131 - Image 2  ??x? L?ndr?n F?th?rs?n R??lty ?nc.
...                            ...                                 ...
34637  23852348700300789 - Image 2               V?l?r?? S?lv? R??lt?r
34652  23852348700300789 - Image 3               V?l?r?? S?lv? R??lt?r
34656  23852348700300789 - Image 2               V?l?r?? S?lv? R??lt?r
34657  23852348700300789 - Image 3               V?l?r?? S?lv? R??lt?r
34660  23852348700300789 - Image 2               V?l?r?? S?lv? R??lt?r

[5433 rows x 2 columns]

In [36]:
df2=df2.drop_duplicates()

In [37]:
df2

                                Ad                          SubAccount
36     23851920354810131 - Image 3  ??x? L?ndr?n F?th?rs?n R??lty ?nc.
44     23851920354810131 - Image 4  ??x? L?ndr?n F?th?rs?n R??lty ?nc.
142    23851920354810131 - Image 2  ??x? L?ndr?n F?th?rs?n R??lty ?nc.
151                              -  ??x? L?ndr?n F?th?rs?n R??lty ?nc.
439    23851920354810131 - Image 1  ??x? L?ndr?n F?th?rs?n R??lty ?nc.
...                            ...                                 ...
34491  23852610079770430 - Image 3               V?l?r?? S?lv? R??lt?r
34497  23852348700300789 - Image 2               V?l?r?? S?lv? R??lt?r
34501  23852348700300789 - Image 3               V?l?r?? S?lv? R??lt?r
34517                            -               V?l?r?? S?lv? R??lt?r
34573  23852348700300789 - Image 1               V?l?r?? S?lv? R??lt?r

[337 rows x 2 columns]

In [38]:
ConXAd_Acc=ConXAd.merge(df2, on=["Ad"], how="left")

In [39]:
ConXAd_Acc

,Ad,Conversions,SubAccount
0,-,274,??x? L?ndr?n F?th?rs?n R??lty ?nc.
1,-,274,?l?x C?rd?v?
2,-,274,?rt M?nd?z? R??lt?r
3,-,274,B?lén ?lc?r?z T??m
4,-,274,Br?tt B??rd - H&T Pr?p?rt??s
...,...,...,...
332,23853453460240708 - Image 3,1,C?nt?ry 21 M?st?rs
333,23854339548530734 - Image 1,1,?n?t?d Fr??d?m R??lty
334,23854339548530734 - Image 2,1,?n?t?d Fr??d?m R??lty
335,23854393358630734 - Image 1,8,?n?t?d Fr??d?m R??lty
336,23854393358630734 - Image 3,2,?n?t?d Fr??d?m R??lty

In [42]:
ConXAd_Acc["SubAccount"].unique()

array(['??x? L?ndr?n F?th?rs?n R??lty ?nc.', '?l?x C?rd?v?',
       '?rt M?nd?z? R??lt?r', 'B?lén ?lc?r?z T??m',
       'Br?tt B??rd - H&T Pr?p?rt??s', 'B?rn?s ?nt?rn?t??n?l',
       'C?mp?s ?nt?rn?t??n?l Gr??p - M?ryl?nd',
       'C?rd?n?l F?n?nc??l C?mp?ny', 'C?s? S?ñ?d? KC', 'D?v?d T?rr?s',
       'D?rly ?lv?r?z', '?p?f?n?? ?lm?d?v?r Th? F?d?r?l S?v?ngs B?nk',
       'Fr?nc?sc? J. C?z? M?rtg?g? ?dv?s?r', 'Gl?d?s M?dr?d',
       'Gr?c? M?z? - C?dd?ll', 'G?st?v? L?p?z', 'H&T Pr?p?rt??s',
       '??w? C?mpr? y V?nt? d? C?s?s',
       'J?s?s C?nt?ry 21 P?w?rh??s? R??lty', 'J??n C?l?d?n R??l ?st?t?',
       'K?rl? R?dr?g??z R??lt?r', 'K?ll?r W?ll??ms Pr?f?rr?d R??lty',
       'L?dy M?rt?n?z', 'L?k? M?ch?g?n R??lty M?n?g?m?nt',
       'M?r??l? M?rt?n?z', 'M?g??l H?wk?ns Pr?st?m?st? c?n H?m?st?r',
       'M?g??l P?r?z R??lt?r', 'M?lt?n ?rr?y?', '?wn?r F?n?nc?ng H??st?n',
       'R?D R??l ?st?t?', 'R?zrGr??p', 'R?/M?X ?N? P?LMD?L?',
       'R?c?rd? R??z - GK Pr?p?rt??s', 'R?b?n M?rr?n Br?k?r',
       'R?th - C?mp?s ?nt?rn?t??n?l Gr??p', 'S??ñ?s ?n?d?s',
       '?l?c?s M?l?nd?z c?n ?ll??nc? R??l ?st?t?',
       'V?l?r?? S?lv? R??lt?r', 'C?mpr? C?s?s ?n T?mp?',
       'St?ph?n?? B?rr?t?', 'J?nn?f?r T?l?d?',
       'Cl??d?? Wh?t? ? Yv?tt? G?r?y', 'Pr?m?T?m? R??lt?rs',
       'R?b?n R?g?l?d? C?r? R??l ?st?t?',
       "M?rth? T?rn?r S?th?by's ?nt?rn?t??n?l R??lty", 'R?v?r? R??lty',
       'R??lt?r', 'L?sl?? G?rc??', 'Bl?nc? C?t?v?', 'C?nt?ry 21 M?st?rs',
       '?n?t?d Fr??d?m R??lty'], dtype=object)

In [43]:
lista_final=[]

In [44]:
for Acc in ConXAd_Acc["SubAccount"].unique():
    lista_final.append((ConXAd_Acc[ConXAd_Acc["SubAccount"]==str(Acc)].sort_values("Conversions", ascending=False)[0:4]))

In [45]:
END=pd.concat(lista_final)

In [46]:
END

,Ad,Conversions,SubAccount
0,-,274,??x? L?ndr?n F?th?rs?n R??lty ?nc.
182,23851920354810131 - Image 4,42,??x? L?ndr?n F?th?rs?n R??lty ?nc.
98,23849781343700220 - Image 1,21,??x? L?ndr?n F?th?rs?n R??lty ?nc.
99,23849781343700220 - Image 2,15,??x? L?ndr?n F?th?rs?n R??lty ?nc.
1,-,274,?l?x C?rd?v?
...,...,...,...
332,23853453460240708 - Image 3,1,C?nt?ry 21 M?st?rs
335,23854393358630734 - Image 1,8,?n?t?d Fr??d?m R??lty
336,23854393358630734 - Image 3,2,?n?t?d Fr??d?m R??lty
333,23854339548530734 - Image 1,1,?n?t?d Fr??d?m R??lty
334,23854339548530734 - Image 2,1,?n?t?d Fr??d?m R??lty

In [54]:
END.to_csv("Convs por Ads.csv") #este archivo me dice los mejores 4 anuncios de cada cuenta

In [48]:
#Ahora quiero hacer el mismo archivo pero que tenga el total de leads creados mediante ese anuncio y el conversion rate de cada anuncio

#CAMINO 
#Volver a hacer el análisis de datos pero incluyendo a este dato
#Al archivo full contacts debería agregarle PHONE y EMAIL para filtrar los verdaderos leads
#Teniendo el "full leads" limpio las filas que no tengan Ad
#Agrego una columna Converted? que diga si fue covnertido o no (en el curso hay una parte que clasifica las filas del restaurante)
#Entonces me quedo con un DF que tenga: ID, Ad, SubAccount y Converted?
#Con este Dataframe hago el analisis de datos:
                        #contar la cantidad de conversions (hecho, sólo tengo que rehacer)
                        #contar la cantidad de leads (copiarme del punto anterior)
                        #un merge con la SubAccount, el Ad, conversions, leads, 
                        #al df anterior le agrego un conversion rate calculado de converions/leads

# Ahora hacemos el mismo analisis pero agregando el conversion rate

In [49]:
dataframe

,Unnamed: 0,Contact Id,First Name,Last Name,Business Name,Company Name,DND,Phone,Email,Created,...,Status Of Live Transfer,Status of Conversion,Status of a Live Transfer,Type of conversion,Last Pipe,Qualifying Questions 6,Conversion Event Type,Qualifying Questions 7,Gender2,SubAccount
0,0,nArxoCXglF8lOnKkoSw6,Ji$ak$pl$,?sc$b$p,NaN,NaN,NaN,#&39675#9&#.0,jiznkzylo#3#5@domzin.com,2023-02-27T17:03:47-05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,??x? L?ndr?n F?th?rs?n R??lty ?nc.
1,1,SfLXHxkO71Iq1Jdc6aNq,?liz$ul,D$ai?l g$bpi?l b$aill$,NaN,NaN,NaN,#86&&389#03.0,bonillzelizzul@domzin.com,2023-02-27T16:57:30-05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,??x? L?ndr?n F?th?rs?n R??lty ?nc.
2,2,DMGExUPr4u4rmpCG7kNA,p$au?l,Igl?si$s,NaN,NaN,NaN,#78638770#7.0,iglesizsmznuel#985@domzin.com,2023-02-27T16:44:45-05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,??x? L?ndr?n F?th?rs?n R??lty ?nc.
3,3,4xASg3FOpIiIl0k4CqV5,$pa$ld$,Di$z,NaN,NaN,NaN,#78664303#9.0,zynzldodizz##0388@domzin.com,2023-02-27T13:23:32-05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,??x? L?ndr?n F?th?rs?n R??lty ?nc.
4,4,lguItn7qhV178WQ5RZ4H,C$st$a?d$,Y$d?lki,NaN,NaN,NaN,#&39&007#73.0,yodelki@yahoo.com,2023-02-27T13:07:33-05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,??x? L?ndr?n F?th?rs?n R??lty ?nc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34664,588,kV1QWQ0uRw6pf6hihntr,$li$h,Gp?idys,NaN,NaN,NaN,NaN,NaN,2022-12-02T12:36:07-05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,V?l?r?? S?lv? R??lt?r
34665,589,e5N0mVjuS2nI2zKyp4Ke,#p$acisc$,Lóp?z,NaN,NaN,NaN,#40&3&#59#&.0,josselinlopez9#37@domzin.com,2022-12-02T11:56:04-05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,V?l?r?? S?lv? R??lt?r
34666,590,uf9U9wSHmQNvt59yaEMP,?l,P$ay c?b$ll$s,NaN,NaN,NaN,#40&590986#.0,ponycebzllos@domzin.com,2022-12-02T10:27:56-05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,V?l?r?? S?lv? R??lt?r
34667,591,oYxRNv41uAfZBaAY3ZlU,T?st,L?$d,NaN,NaN,NaN,#980&&63048.0,ara@muend.co,2022-11-30T15:13:34-05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,V?l?r?? S?lv? R??lt?r
34668,592,J95OQm5LgaExVpqMYAjL,W?bh$$k,T?st,NaN,NaN,NaN,#83&843&306.0,NaN,2022-11-30T15:12:29-05:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,V?l?r?? S?lv? R??lt?r

In [50]:
df11=dataframe_dropped[["Contact Id","Ad","Phone","Email","Day Of Week","Created","SubAccount"]]

In [51]:
df11

,Contact Id,Ad,Phone,Email,Day Of Week,Created,SubAccount
0,nArxoCXglF8lOnKkoSw6,23851920354810131 - Image 3,#&39675#9&#.0,jiznkzylo#3#5@domzin.com,NaN,2023-02-27T17:03:47-05:00,??x? L?ndr?n F?th?rs?n R??lty ?nc.
1,SfLXHxkO71Iq1Jdc6aNq,23851920354810131 - Image 3,#86&&389#03.0,bonillzelizzul@domzin.com,NaN,2023-02-27T16:57:30-05:00,??x? L?ndr?n F?th?rs?n R??lty ?nc.
2,DMGExUPr4u4rmpCG7kNA,23851920354810131 - Image 4,#78638770#7.0,iglesizsmznuel#985@domzin.com,NaN,2023-02-27T16:44:45-05:00,??x? L?ndr?n F?th?rs?n R??lty ?nc.
3,4xASg3FOpIiIl0k4CqV5,23851920354810131 - Image 3,#78664303#9.0,zynzldodizz##0388@domzin.com,NaN,2023-02-27T13:23:32-05:00,??x? L?ndr?n F?th?rs?n R??lty ?nc.
4,lguItn7qhV178WQ5RZ4H,23851920354810131 - Image 4,#&39&007#73.0,yodelki@yahoo.com,NaN,2023-02-27T13:07:33-05:00,??x? L?ndr?n F?th?rs?n R??lty ?nc.
...,...,...,...,...,...,...,...
34664,kV1QWQ0uRw6pf6hihntr,-,NaN,NaN,NaN,2022-12-02T12:36:07-05:00,V?l?r?? S?lv? R??lt?r
34665,e5N0mVjuS2nI2zKyp4Ke,23852348700300789 - Image 3,#40&3&#59#&.0,josselinlopez9#37@domzin.com,NaN,2022-12-02T11:56:04-05:00,V?l?r?? S?lv? R??lt?r
34666,uf9U9wSHmQNvt59yaEMP,23852348700300789 - Image 3,#40&590986#.0,ponycebzllos@domzin.com,NaN,2022-12-02T10:27:56-05:00,V?l?r?? S?lv? R??lt?r
34667,oYxRNv41uAfZBaAY3ZlU,-,#980&&63048.0,ara@muend.co,NaN,2022-11-30T15:13:34-05:00,V?l?r?? S?lv? R??lt?r
34668,J95OQm5LgaExVpqMYAjL,-,#83&843&306.0,NaN,NaN,2022-11-30T15:12:29-05:00,V?l?r?? S?lv? R??lt?r

In [52]:
#crear la columande convertido (SI/NO)
#eliminar la columna de Day of Week
#pasar los anuncios vacios " - " a NaN
#dropna

In [53]:
df11["Convertido"]=np.where((df11["Day Of Week"]!="Saturday")&(df11["Day Of Week"]!="Sunday")&(df11["Day Of Week"]!="Friday")&(df11["Day Of Week"]!="Monday")&(df11["Day Of Week"]!="Tuesday")&(df11["Day Of Week"]!="Wednesday")&(df11["Day Of Week"]!="Thursday"),"NO","SI")
df11.tail(20)

C:\Users\54357\AppData\Local\Temp\ipykernel_7676\3949665522.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11["Convertido"]=np.where((df11["Day Of Week"]!="Saturday")&(df11["Day Of Week"]!="Sunday")&(df11["Day Of Week"]!="Friday")&(df11["Day Of Week"]!="Monday")&(df11["Day Of Week"]!="Tuesday")&(df11["Day Of Week"]!="Wednesday")&(df11["Day Of Week"]!="Thursday"),"NO","SI")

,Contact Id,Ad,Phone,Email,Day Of Week,Created,SubAccount,Convertido
34649,YD0OWGsH2Zv2WA0L7pwH,23852348700300789 - Image 3,#68#&04897#.0,mzgdzlenzgzmboz59@domzin.com,NaN,2022-12-02T19:58:17-05:00,V?l?r?? S?lv? R??lt?r,NO
34650,MtYyjr8vRY7KbNwbffTn,-,NaN,vzlyyizsilvz.yyzltoy@domzin.com,NaN,2022-12-02T19:02:20-05:00,V?l?r?? S?lv? R??lt?r,NO
34651,OvepiH275rSLeGRVRFp3,-,NaN,support@latinleads.co,NaN,2022-12-02T19:02:18-05:00,V?l?r?? S?lv? R??lt?r,NO
34652,Hk0iR923FggWdxsRNkap,23852348700300789 - Image 3,#53#&#545&#.0,mzyiz.yspinozz.zyyoyo.#974@domzin.com,Saturday,2022-12-02T18:47:25-05:00,V?l?r?? S?lv? R??lt?r,SI
34653,FGKgruy2NZKWRlVkvqEp,23852348700300789 - Image 2,#53#&394954.0,nzvzyyytymodysto0@domzin.com,NaN,2022-12-02T18:31:31-05:00,V?l?r?? S?lv? R??lt?r,NO
34654,bARy92DJf2fuApExBgyK,23852348700300789 - Image 3,#40&&535#48.0,tyycyyo488@domzin.com,NaN,2022-12-02T17:58:28-05:00,V?l?r?? S?lv? R??lt?r,NO
34655,UBJ2plf6cyx37UTAA3CU,-,#40&8#005&3.0,NaN,NaN,2022-12-02T17:35:31-05:00,V?l?r?? S?lv? R??lt?r,NO
34656,zob9C3A4b5AOqjXrWx6p,23852348700300789 - Image 2,#40&97&690&.0,%n%ch%v%z&7###09&#@g#%il.co#,Friday,2022-12-02T17:35:17-05:00,V?l?r?? S?lv? R??lt?r,SI
34657,xzqnbmQVohzhZFtKsS9v,23852348700300789 - Image 3,#609943#058.0,silviz.contyyyzs09zz@domzin.com,Saturday,2022-12-02T16:58:30-05:00,V?l?r?? S?lv? R??lt?r,SI
34658,ZmVuCjBgCMR53XyYwhsy,23852348700300789 - Image 2,#53#&#055&4.0,sznchyziyis957@domzin.com,NaN,2022-12-02T16:02:38-05:00,V?l?r?? S?lv? R??lt?r,NO
34659,twktCMeBjjzJCGWIs4yr,23852348700300789 - Image 2,#40&7#48&84.0,mzyyz.floyys905@domzin.com,NaN,2022-12-02T16:02:27-05:00,V?l?r?? S?lv? R??lt?r,NO
34660,0969i3dAkCozanMQKENt,23852348700300789 - Image 2,#40&8#00063.0,cinthyacastillo07@hotmill.com,Friday,2022-12-02T15:05:14-05:00,V?l?r?? S?lv? R??lt?r,SI
34661,c1V2vithegs7sThtZAHe,23852348700300789 - Image 3,#40&9#76057.0,marioenciso632@yahoo.com,NaN,2022-12-02T14:12:17-05:00,V?l?r?? S?lv? R??lt?r,NO
34662,SCgdFNCIZHJffqq2cYZN,23852348700300789 - Image 3,#40&&387&85.0,%dri%l%y%l%&0#4@icloud.com,NaN,2022-12-02T13:47:56-05:00,V?l?r?? S?lv? R??lt?r,NO
34663,WAVL5olLuJfjMbyfs9C6,23852348700300789 - Image 3,#40&80506#7.0,speedylocz79@domzin.com,NaN,2022-12-02T13:21:30-05:00,V?l?r?? S?lv? R??lt?r,NO
34664,kV1QWQ0uRw6pf6hihntr,-,NaN,NaN,NaN,2022-12-02T12:36:07-05:00,V?l?r?? S?lv? R??lt?r,NO
34665,e5N0mVjuS2nI2zKyp4Ke,23852348700300789 - Image 3,#40&3&#59#&.0,josselinlopez9#37@domzin.com,NaN,2022-12-02T11:56:04-05:00,V?l?r?? S?lv? R??lt?r,NO
34666,uf9U9wSHmQNvt59yaEMP,23852348700300789 - Image 3,#40&590986#.0,ponycebzllos@domzin.com,NaN,2022-12-02T10:27:56-05:00,V?l?r?? S?lv? R??lt?r,NO
34667,oYxRNv41uAfZBaAY3ZlU,-,#980&&63048.0,ara@muend.co,NaN,2022-11-30T15:13:34-05:00,V?l?r?? S?lv? R??lt?r,NO
34668,J95OQm5LgaExVpqMYAjL,-,#83&843&306.0,NaN,NaN,2022-11-30T15:12:29-05:00,V?l?r?? S?lv? R??lt?r,NO